:root {
  --primary-color: #3dbffc;
  --secondary-color: #e1d6ff;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --default-font: "Archivo Narrow", sans-serif;
  --heading-font: "Lobster Two", cursive, sans-serif;
}

body {
  font-family: var(--default-font);
  width: auto;
  display: block;
  justify-content: center;
  margin-bottom: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  text-align: center;
  font-family: var(--heading-font);
  font-weight: bold;
}

h1 {
  font-size: 86px;
  line-height: 1.5;
}

h2 {
  font-size: 48px;
}

p {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  border-radius: 4px;
}
.navbar-brand {
  margin-right: 200px;
}
.navbar-nav {
  padding-left: 80px;
}
.navbar-light .navbar-nav .nav-link.active {
  color: var(--primary-color);
}
.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 50px 10px;
}

.hero p {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  color: black;
}

.hero h2 {
  font-family: var(--heading-font);
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
}
.logo img {
  height: 100px;
  width: auto;
  margin: auto;
}
.logo p {
  text-align: left;
}
.headshot img {
  max-width: 70%;
  height: auto;
}
.btn-primaryLink {
  background: var(--primary-color);
  text-align: center;
  border-radius: 4px;
  color: var(--secondary-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-SecondaryLink {
  display: inherit;
  color: var(--branding-color);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-SecondaryLink:hover {
  text-decoration: underline;
  color: var(--primary-color);
  background: var(--secondary-color);
}
.btn-print {
  display: block;
  background: var(--secondary-color);
  text-align: center;
  border-radius: 4px;
  color: black;
  font-size: 20px;
  line-height: 20px;
  padding: 5px 10px;
}
.btn-print:hover {
  text-decoration: underline;
  color: var(--primary-color);
  background: var(--secondary-color);
}
.project-desciption {
  padding: 120px 60px;
}
.top-info {
  text-align: center;
  padding: 20px 10px;
}
.content h1 {
  font-size: 64px;
  line-height: 80px;
}
.content h2 {
  font-size: 18px;
  font-family: var(--default-font);
}

.content {
  margin: 30px;
}
footer {
  margin: 60px 0;
}

footer .contact-box {
  background: var(--secondary-color);
  padding: 30px 60px;
  margin: 0px 20px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
  font-size: 20px;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

footer .email-link:hover {
  color: var(--primary-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--primary-color);
  background: var(--secondary-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: var(--secondary-color);
  background: var(--primary-color);
}
footer .open-source {
  font-size: 12px;
}

@media (max-width: 576px) {
  h1 {
    font-size: 44px;
    line-height: 1.5;
  }

  h2 {
    font-size: 44px;
  }
  .navbar {
    margin: 0, 10px;
  }
  .hero {
    padding: 20px 20px;
  }

  .project-desciption {
    padding: 0;
    text-align: center;
  }
  .content {
    padding: 5px 10px;
    text-align: center;
  }
  .content h1 {
    font-size: 36px;
    line-height: 1.25;
  }
  .icons {
    display: none;
  }
  .resume {
    display: none;
  }
}
@media print {
  body {
    background-color: #ffffff;
    background-image: none;
    color: #000000;
    text-align: left;
    text-indent: 2em;
    margin: 0 auto;
    font-size: 14px;
    font-family: "Times New Roman", Times, serif;
  }
  .headshot img {
    max-width: 40%;
    height: auto;
  }
}
